.tdikn { 
  margin-top: 74px;
  margin-bottom: 50px;
  font-size: 79px;
  border-top-width: 19px;
  margin-bottom: 73px;
  padding-right: 83px;
  margin-left: 12px;
  padding-right: 7px;
  padding-left: 66px;
  margin-bottom: 53px;
  border-left-width: 20px;
  line-height: 72px;
  padding-bottom: 42px;
  line-height: 83px;
  margin-bottom: 46px;
  padding-right: 54px;
  padding-bottom: 64px;
  margin-left: 86px;
  border-top-width: 2px;
  padding-bottom: 89px;
  font-size: 23px;
  padding-left: 22px;
  font-size: 23px;
  border-bottom-width: 46px;
  padding-left: 98px;
  margin-left: 71px;
  border-left-width: 70px;
  border-bottom-width: 76px;
  padding-left: 26px;
  border-top-width: 18px;
  padding-right: 95px;
  line-height: 2px;
  padding-left: 9px;
  border-bottom-width: 13px;
  border-left-width: 95px;
  font-size: 98px;
  padding-top: 13px;
  padding-left: 31px;
  border-right-width: 20px;
  font-size: 70px;
  border-top-width: 73px;
  font-size: 21px;
  border-top-width: 69px;
  border-bottom-width: 98px;
  border-left-width: 9px;
  line-height: 12px;
  margin-top: 3px;
  border-left-width: 42px;
  margin-bottom: 31px;
  padding-left: 15px;
  border-bottom-width: 36px;
  padding-bottom: 48px;
  padding-top: 47px;
  font-size: 53px;
  margin-left: 26px;
}
