.tdikn { 
  margin-top: 74px;
  margin-bottom: 50px;
  font-size: 79px;
  border-top-width: 19px;
  margin-bottom: 73px;
  padding-right: 83px;
  margin-left: 12px;
  padding-right: 7px;
  margin-top: 97px;
}
