.bvjdk { 
  padding-top: 31px;
  border-bottom-width: 58px;
  margin-left: 64px;
  font-size: 48px;
  font-size: 97px;
  line-height: 90px;
  border-bottom-width: 39px;
  margin-top: 37px;
  border-left-width: 16px;
  border-left-width: 76px;
  margin-top: 23px;
  margin-right: 43px;
  padding-top: 69px;
  margin-bottom: 16px;
  margin-left: 14px;
  border-right-width: 25px;
}
