.tdikn { 
  margin-top: 74px;
  margin-bottom: 50px;
  font-size: 79px;
  border-top-width: 19px;
  margin-bottom: 73px;
  padding-right: 83px;
  margin-left: 12px;
  padding-right: 7px;
  padding-left: 66px;
  margin-bottom: 53px;
  border-left-width: 20px;
  line-height: 72px;
  padding-bottom: 42px;
  line-height: 83px;
  margin-bottom: 46px;
  padding-right: 54px;
  padding-bottom: 64px;
  margin-left: 86px;
  border-top-width: 2px;
  padding-bottom: 89px;
  margin-right: 38px;
}
